.gridLayout {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto;
    padding: 2rem;
    grid-gap: 10px;
    min-height: 300px; /* Set a fixed height for the container */
  }
  
  .child {
    grid-row: span 2; /* This makes the child element cover 2 rows */
    grid-column: span 1; /* This makes the child element cover 1 column */
  }

  /* Add this CSS in your stylesheet or component style block */
.custom-file-upload {
    cursor: pointer;
    display: inline-block;
    text-align: center;
  }
  
  .custom-file-upload input[type="file"] {
    display: none;
  }

  .card{
    height: 100%;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .galleryArea{
    width: 80vw;
    min-height:90vh;
    background-color:azure;
    /*border-radius: 10px;*/
}
.galleryArea input {
  cursor: pointer;
  width: 20px;
  height: 20px;
}
  
  