.card {
  position: relative;
  /*width: 300px;*/
  /*height: 200px;*/
  height: 100%;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkbox-overlay {
  position: absolute;
  top: 0;
  left: 20 !important;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: start;
  opacity: 0;
  transition: opacity 0.3s, backdrop-filter 0.3s;
  backdrop-filter: blur(3px);
  padding:5px;
}

.checkbox-selected {
  position: absolute;
  top: 0;
  left: 20 !important;
  /*display: none;*/
  width: 100%;
  height: 100%;
  justify-content: start;
  transition: opacity 0.3s, backdrop-filter 0.3s;
  padding:5px;
}

.checkbox-overlay.show {
  display: flex;
  opacity: 1;
}

.checkbox-overlay input {
  cursor: pointer;
  width: 20px;
  height: 20px;
}
.checkbox-selected input {
  cursor: pointer;
  width: 20px;
  height: 20px;
}

.card:hover {
  transform: scale(1.03);
  -webkit-transform: scale(1.03);
  -moz-transform: scale(1.03);
  -ms-transform: scale(1.03);
  -o-transform: scale(1.03);
}
